# Titanic: Machine Learning from Disaster

In [1]:
# https://www.kaggle.com/c/titanic

In [1]:
import sklearn
import pandas as pd

In [2]:
train = pd.read_csv('./titanic/train.csv')
test = pd.read_csv('./titanic/test.csv')

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
train_dummies = pd.get_dummies(train, columns=['Sex', 'Pclass', 'Embarked'])
test_dummies = pd.get_dummies(test, columns=['Sex', 'Pclass', 'Embarked'])

In [6]:
train_dummies.head()

,PassengerId,Survived,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
0,1,0,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,0,1,0,0,1,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,1,0,1,0,0,1,0,0
2,3,1,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,1,0,0,0,1,0,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,1,0,1,0,0,0,0,1
4,5,0,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,0,1,0,0,1,0,0,1

## Preprocess data

In [7]:
# Extract features
X_train = train_dummies.drop(['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin'], axis=1)
X_test = test_dummies.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

In [8]:
# Extract targets
y_train = train_dummies['Survived']

In [9]:
# Fill NA values
from sklearn.preprocessing import Imputer
# Imputer(missing_values='NaN', strategy='mean', axis=0, verbose=0, copy=True)

In [10]:
# Scale features
from sklearn.preprocessing import StandardScaler
# StandardScaler(copy=True, with_mean=True, with_std=True)

In [12]:
y_train

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

## Train model and make predictions

In [11]:
# Fit logistic regression
from sklearn.linear_model import LogisticRegression
# LogisticRegression(penalty='l2', dual=False, tol=0.0001, C=1.0, 
#                    fit_intercept=True, intercept_scaling=1, class_weight=None, 
#                    random_state=None, solver='liblinear', max_iter=100,
#                    multi_class='ovr', verbose=0, warm_start=False, n_jobs=1)

In [37]:
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from sklearn.metrics import make_scorer
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

pipeline = Pipeline(steps=[('impute', Imputer()),
                           ('scaler', StandardScaler()), 
                           ('model', LogisticRegression(C=1e-2))])

kfold = KFold(4, shuffle=True)


result = cross_val_score(pipeline, X_train, y_train, 
                         cv=kfold, scoring=make_scorer(accuracy_score))

params = {'model__C': [1, 1e2, 1e3, 1e4]}

grid = GridSearchCV(pipeline, params, cv=kfold, scoring=make_scorer(accuracy_score))

In [38]:
grid.fit(X_train, y_train)

GridSearchCV(cv=KFold(n_splits=4, random_state=None, shuffle=True),
       error_score='raise',
       estimator=Pipeline(steps=[('impute', Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)), ('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('model', LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False))]),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'model__C': [1, 100.0, 1000.0, 10000.0]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=make_scorer(accuracy_score), verbose=0)

In [39]:
grid.cv_results_

{'mean_fit_time': array([ 0.00560927,  0.00672919,  0.0045197 ,  0.0044353 ]),
 'mean_score_time': array([ 0.00092572,  0.00095606,  0.00062567,  0.0005945 ]),
 'mean_test_score': array([ 0.79685746,  0.7979798 ,  0.7979798 ,  0.7979798 ]),
 'mean_train_score': array([ 0.80471288,  0.80508714,  0.80546139,  0.80546139]),
 'param_model__C': masked_array(data = [1 100.0 1000.0 10000.0],
              mask = [False False False False],
        fill_value = ?),
 'params': ({'model__C': 1},
  {'model__C': 100.0},
  {'model__C': 1000.0},
  {'model__C': 10000.0}),
 'rank_test_score': array([4, 1, 1, 1], dtype=int32),
 'split0_test_score': array([ 0.81165919,  0.81165919,  0.81165919,  0.81165919]),
 'split0_train_score': array([ 0.79491018,  0.79491018,  0.79491018,  0.79491018]),
 'split1_test_score': array([ 0.76233184,  0.76681614,  0.76681614,  0.76681614]),
 'split1_train_score': array([ 0.81586826,  0.81586826,  0.81586826,  0.81586826]),
 'split2_test_score': array([ 0.81165919,  0.81165919,  0.81165919,  0.81165919]),
 'split2_train_score': array([ 0.8008982 ,  0.80239521,  0.80389222,  0.80389222]),
 'split3_test_score': array([ 0.8018018,  0.8018018,  0.8018018,  0.8018018]),
 'split3_train_score': array([ 0.80717489,  0.80717489,  0.80717489,  0.80717489]),
 'std_fit_time': array([ 0.00158031,  0.00231655,  0.00081935,  0.00027449]),
 'std_score_time': array([  2.29545613e-04,   1.77132890e-04,   6.09058857e-05,
          4.08776632e-05]),
 'std_test_score': array([ 0.02034942,  0.01844921,  0.01844921,  0.01844921]),
 'std_train_score': array([ 0.00776448,  0.00760606,  0.00750049,  0.00750049])}

In [ ]:
# TODO: make predictions

## Estimate quality

In [ ]:
# Estimate quality
from sklearn.metrics import accuracy_score
# accuracy_score(y_true, y_pred, normalize=True, sample_weight=None)

## Create submission

In [ ]:
with open('submission.txt', 'w') as out:
    out.write('PassengerId,Survived\n')
    for passenger, y in zip(test['PassengerId'], predicted):
        out.write('%s,%s\n' % (passenger, y))